@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;500;600;700;800&display=swap');


:root{
  /* Classical Variable */
  --color-background: hsl(218, 80%, 2%);
  --color-text: hsl(210, 30%, 82%);
  --color-text-important: hsl(210, 100%, 60%);
  --size-text: 20px;

  --color-link: hsl(210, 100%, 50%);
  --weight-link: 500;

  /* Navbar Variable */
  --color-nav-text: hsl(210, 30%, 82%);
  --color-nav-background: hsl(216, 28%, 7%);

  /* Navbar Container */
  --color-container-background: hsl(216, 28%, 7%);

  /* ... Variable */
}







*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


a{
  color: var(--color-text);
  text-decoration: none;
}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

p{
  font-size: var(--size-text);
  width: 100%;
}



ul{
  width: 100%;
  font-size: var(--size-text);
}

li::marker{
  color: var(--color-text-important);
}



/* ========================
      Classical classes
======================== */
.container{
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 95%;
  max-width: 1000px;
  
  margin: 30px auto;
  padding: 20px;

  background-color: var(--color-container-background);
  border-radius: 20px;
  border: 1px solid  var(--color-text-important);;
}

.content{
  margin-top: 25px;

  width: 100%;
}

.raw{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.column{
  width: 50%;
}

.link{
  color: var(--color-link);
  font-weight: var(--weight-link);
  text-decoration: underline;
}

.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

.font-important{
  color: var(--color-text-important);
}

.flex{display: flex}
.justify-center{justify-content: center}
.align-center{align-items: center}
.flex-column{flex-direction: column;}







/*====================================================
                    ScrollBar
====================================================*/
/* width */
::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(210, 25%, 10%); 
}
::-webkit-scrollbar-track:active {
  background: hsl(210, 25%, 15%); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(210, 25%, 30%);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: hsl(210, 25%, 40%); 
}



@media only screen and (max-width: 1000px) {
  
}